#choices li, #answer li {
    display: inline-block;
    margin: 10px;
}

img {
    width: 200px;
}

.disabled {
    opacity: .3;
}

body {
    display: flex;
    margin: 0;
}

#wrapper {
    display: flex;
    width: 30vw;
    flex-direction: column;
}

#choices, #answer {
    flex-grow: 1;
}

#score {
    height: 100vh;
    width: 40vw;
    /* background: green; */
}
#choices {
    /* background: blue; */
    width: 30vw;
    font-size: 20px;
}
#answer {
    /* background: red; */
    font-size: 30px;
}
@media (max-width: 420px)
{
    #choices li, #answer li {
        margin: 4px;
    }
}